*{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
}

.headertop{
    width: 100%;
    height: 32px;
    background-color: #e5e5e5e5;
    display: flex;
    align-items: center;
}

.headertopcontent{
    width: 110px;
    height: 20px;
    display: flex;
    font-size: 13px;
    align-items: center;
    margin-left: 34px;
}

.headertopcontent svg{
    width: 20px;
    height: 20px;
    padding-right: 10px;
}

.headerbottom{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 28.5px 0 28.5px;
    box-sizing: border-box;
}

.searchbox_inner{
    width: 300px;
    height: 42px;
    padding: 0 0.35rem 0  0.2rem;
    border-radius: 20px;
    border: 0.0625rem solid #757575;
    padding-left: 25px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
    
}

.searchbox_inner span{
    position: relative;
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbox_inner input{
    width: 213px;
    height: 40px;
    overflow: hidden;
    border: 0;
    outline: none;
    box-sizing: border-box;
   
}

.diormain{
    flex-basis: 20%;
}
.diormain svg{
    width: 120px;
    height: 90px;
}

.searchbox_inner{
    display: flex;
    justify-content: flex-start;
}

.diorother{
    width: 108px;
    height: 26px;
    display: flex;
    justify-content: space-between;
}

.diorother svg{
    width: 26px;
    height: 26px;
}

.headerfooter{
    width: 100%;
    height: 46px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #e5e5e5e5;
    font-size: 13px;
}

.headerfooter li{
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;
}

.main{
    width: 1440px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 60px;
    line-height: 25px;
    margin: 0 auto;
}

.main img{
    width: 100%;
}

.main h3{
    padding-top: 16px;
    margin-bottom: 12px;
    font-size: 13px;
    color: #757575;
    font-weight: 400;
}

.main h1{
    padding-left: 4px;
    margin-bottom: 16px;
    font-size: 22px;
    font-weight: 400;
}

.main1{
    width: 1440px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 60px;
}

.main1 h3{
    padding-top: 16px;
    margin-bottom: 12px;
    font-size: 13px;
    color: #757575;
    font-weight: 400;
}

.main1 h1{
    padding-left: 4px;
    margin-bottom: 16px;
    font-size: 22px;
    font-weight: 400;
}
.main1 img{
    width: 100%;
    height: 598px;
}

.enter{
    width: 225px;
    height: 48px;
    padding: 0 32px 0 32px;
    box-sizing: border-box;
    border-radius: 30px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boutique{
    width: 100%;
    height: 341px;
    background-image: url(https://www.dior.com/couture/var/dior/storage/images/horizon/store-locator-banner-onedior/14406305-114-kor-KR/store-locator-banner-onedior2_1440_1200.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boutiquesearch{
    font-size: 22px;
    margin-bottom: 24px;
}

.boutiqueinput{
    width: 427px;
    height: 61px;
    border: 1.5px solid black;
    border-radius: 30px;
    padding: 8px 0 8px 25px;
    box-sizing: border-box;
    display: flex;
    position: relative;
}

.boutiqueinput input{
    width: 360px;
    height: 43px;
    border: none;
    
}

.inputimg{
  width: 70px;
  height: 60px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 28px 28px 0;
  position: relative;
  top: -8px;
  left: 1.2px;
}

.service{
    width: 100%;
    height: 431px;
    padding: 25px;
    box-sizing: border-box;
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.servicename{
    flex-basis: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.servicecontent svg{
    width: 36px;
    height: 36px;
    color: white;
}

.servicecontent{
    padding: 0 25px 0 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 13px;
}

.servicecontent span{
    margin-bottom: 8px;
}
 .servicecontent p{
     line-height: 25px;
 }

 .other{
     margin: 0 auto;
     height: 332px;
     display: flex;
     justify-content: space-between;
     padding: 30px;
     box-sizing: border-box;
 }

 .othercontainer{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;

 }

 .othercontainer h2{
     font-size: 13px;
     font-weight: 400;
     margin-bottom: 15px;
 }

 .othercontainer p {
     font-size: 13px;
     color: #757575;
     text-align: center;
     margin: 0 15px 15px 15px;
     line-height: 20px;
 }

 .content{
     width: 327px;
     height: 52px;
     border: 1px solid black;
     border-radius: 30px;
     position: relative;
 }

 .content input{
     width: 100px;
     border: none;
     padding: 16px 0 0 16px;
     border-radius: 30px;
    position: relative;
    left: 10px;
    top: 3px;
 }

 .agree{
     width: 100px;
     height: 52px;
    background-color: #e5e5e5;
    color: white;
    border-radius: 0px 30px 30px 0;
    position: relative;
    left: 227px;
    top: -33px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
}

 .othernav{
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
 }

 .othernav a{
     color: black;
     font-size: 13px;
     font-weight: 400;
     border-bottom: 1px solid black;
 }

 .footer{
     width: 100%;
     padding: 0 40px 20px 40px;
     display: flex;
     justify-content: center;
     text-align: center;
     font-size: 13px;
     font-weight: 400;
     line-height: 20px;
 }

 .follow{
     width: 100%;
     height: 107px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
 }

 .follow span{
     width: 100%;
     display: flex;
     justify-content: center;
     font-size: 13px;
     margin-bottom: 15px;
 }

 .followimg{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 210px;
     height: 72px;
     border-bottom: 1px solid #e5e5e5;
     
    }
    .followimgcontainer{
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
 }